@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto-VariableFont_wdth\,wght.ttf)
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.blue {
    background-color: #3882F6;
}

.subtext {
    font-size: 14px;
    color: #E5E7EB;
}

img {
    width: auto;
    height: 200px;
}

button {
    color: white;
    padding: 4px 32px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 21px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header,
.maintext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px 64px 128px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 8px 0px;
}

.links .subtext {
    margin: 8px;
}

.maintext {
    gap: 30px;
}

.title,
.maintext .subtext {
    margin: 8px 0px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
}

.maintext .text {
    flex: 0 1 500px;
}

.maintext button {
    border-color: #3882F6;
}


.info-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.squares {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 128px;
    flex-wrap: wrap;
}

.square {
    flex: 0 1 150px;
    text-align: center;
}

.emoji {
    font-size: 100px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    box-sizing: border-box;
    margin: 0;
}

.squares .subtext {
    margin: 0;
    color: #454545;
}

.quote {
    background-color: #E5E7EB;
    text-align: start;
    padding: 64px 128px;
}

.inspirational {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.author {
    text-align: end;
    margin: 0;
}